html {
  font-size: 16px; 
  font-family: 'Lato', sans-serif; 
  /* this should be the rest of the output you got from Google fonts */
  /* background-color: #C9D8E8; */
}

/* set heading */
h1 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  /*text-shadow: 3px 3px 1px black; */
}

/* set text */
p{
  font-size: 16px;
}

a{
  font-size: 16px;
}

body {
  /* width: 600px; */
  margin: 50px 100px 0px 100px;
  /*background-color: #EEEFF0;
  border: 5px solid black;*/
  padding: 0 20px 20px 20px;
  
}

img{
  display: block;
  /* margin: 0 auto;*/
}

/* set specific styles for chart related texts */
.takeaway{
  font-weight: bold;
  font-size: 20px;
}

.chartexplain{
  font-style: italic;
}

.legend{
  font-size: 16px;
}


.source{
  color: darkgray;
  font-size: 12px;
}

.notes{
  color: darkgray;
  font-size: 12px;
}

/* for navigation bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  /*border-top: 2px solid lightgray;*/
  border-bottom: 2px solid lightgray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: gray;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Adamina', serif;
}

/* Style links on left / right separately */
.topnav-left a{
  float: left;
}

.topnav-right a{
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  color: black;
}
